<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <context:component-scan base-package="lxk.service,lxk.dao" use-default-filters="false">
        <!-- 	use-default-filters="false"  不加扫描2遍 controller 增强控制器执行2遍-->
        <!-- 		<context:include-filter type="regex" expression="lxk.ecs.it.*;" /> -->
        <context:include-filter type="regex" expression="lxk.dao.mapping.*" />
        <context:include-filter type="regex" expression="lxk.task.*" />
        <context:include-filter type="regex" expression="lxk.service.*" />
    </context:component-scan>

    <import resource="classpath*:spring-mybatis.xml" />

</beans>